<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Robo Resume-Form </title>


    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Resume form to be filled out -->
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Robo Resume Form</h1>
                        <p class="intro-text">Please enter your first and last name, your email, education, experience
                                              and skill into the form. List the most recent employment first.  <br></p>
                        <p action="#" th:action="@{name}" th:object="${firstName}" method="post" >

                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="well alert alert-danger" role="alert">You must enter your first name!</div>
                        <div th:if="${#fields.hasErrors('education')}" th:errors="*{education}" class="well alert alert-danger" role="alert">You must enter a school name!</div>
                            <h2 class="intro-body">First Name:</h2><input type="text" th:field="*{firstName}" /><br>

                            <h2 class="intro-body">Last Name:</h2><input type="text" th:field="*{lastName}" /><br>


                            <h2 class="intro-body">Education:</h2><br>

                                <p class="intro-body">Graduation Year:</p><input type="text" th:field="*{education.year}" /><br>
                                <p class="intro-body">Name of School:</p><input type="text" th:field="*{education.school}" /><br>
                                <p class="intro-body">Degree Program:</p><input type="text" th:field="*{education.degree}" /><br>


                            <h2 class="intro-body">Experience:</h2><input type="text" th:field="*{experience}" /><br>

                                <p class="intro-body">Title:</p><input type="text" th:field="*{experience.year}" /><br>
                                <p class="intro-body">Dates :</p><input type="text" th:field="*{experience.school}" /><br>
                                <p class="intro-body">Duty 1:</p><input type="text" th:field="*{experience.duty}" /><br>
                                <p class="intro-body">Duty 2:</p><input type="text" th:field="*{experience.duty2}" /><br>

                                <p class="intro-body">Title:</p><input type="text" th:field="*{experience.year}" /><br>
                                <p class="intro-body">Dates :</p><input type="text" th:field="*{experience.school}" /><br>
                                <p class="intro-body">Duty 1:</p><input type="text" th:field="*{experience.duty}" /><br>
                                <p class="intro-body">Duty 2:</p><input type="text" th:field="*{experience.duty2}" /><br>


                                <p class="intro-body">Title:</p><input type="text" th:field="*{experience.year}" /><br>
                                <p class="intro-body">Dates :</p><input type="text" th:field="*{experience.school}" /><br>
                                <p class="intro-body">Duty 1:</p><input type="text" th:field="*{experience.duty}" /><br>
                                <p class="intro-body">Duty 2:</p><input type="text" th:field="*{experience.duty2}" /><br>




                        <h2 class="intro-body">Skill:</h2> <input type="text" th:field="*{skill}" /><br>

                                <p class="intro-body">Skill:</p><input type="text" th:field="*{skill.object}" /><br>
                                <p class="intro-body">Rating:</p><input type="text" th:field="*{skill.rating}" /><br>
                                <p class="intro-body">Skill:</p><input type="text" th:field="*{skill.object}" /><br>
                                <p class="intro-body">Rating:</p><input type="text" th:field="*{skill.rating}" /><br>
                                <p class="intro-body">Skill:</p><input type="text" th:field="*{skill.object}" /><br>
                                <p class="intro-body">Rating:</p><input type="text" th:field="*{skill.rating}" /><br>
                        </form>


                        <div class = "container">
                                <a href="#employeeconfirm" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>




</head>
<body>









</form>

</body>
