<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Robo Resume-Form </title>

    <!-- Resume form to be filled out -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Robo Resume Form</h2>
                <h8>Please enter your name, email, place of employment with start and end dates,
                    then click Submit. (Please enter today's date if you are currently employed).</h8>
            </div>
        </div>
        <form action="#" th:action="@{addname}" th:object="${name}" method="post" >
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <span th:if="${fields.hasErrors('id')}" th:errors="*{id}>Please enter your name</span></p>"<br>
    </section>
</head>
<body>
<h1>Robo Resume form</h1>


    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Organization: <input type="text" th:field="*{organization}" /></p>
    <p>Start Date: <input type="text" th:field="*{startdate}" /></p>
    <span th:if="${fields.hasErrors('id')}" th:errors="*{id}>Please enter your starting date of employment</span></p>"
    <p>End Date: <input type="text" th:field="*{enddate}" /></p>




    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>

</body>
