<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Employee Confirmation List</title>


    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<h1 class="intro-text"> Congratulations!</h1><br>

    <h3 class="intro-body">Your resume was received! Here's what you submitted.</h3><br>



    <!-- Table headers -->
    <table>

        <table border="1" cellpadding="5">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Education</th>
            <th>Work</th>
            <th>Skill</th>
        </tr>

    <!-- Table of Person -->
        <th:block th:each="person:${employeeOne}">
        <tr>
            <td><b><p th:text="#{firstName}">First name</p></b></td>
            <td><b><p th:text="#{lastName}">Last name</p></b></td>
            <td><b><p th:text="#{email}">Email</p></b></td>
            <td><b><p th:text="#{education}">Education</p></b></td>
            <td><b><p th:text="#{experience}">Work</p></b></td>
            <td><b><p th:text="#{skill}">Skill</p></b></td>

    </table>




        <a href="/index" class="btn btn-dark btn-lg">Go Back</a>

</body>
</html>