<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Robo Resume-Form </title>


    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Resume form to be filled out -->
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Robo Resume Form</h1>
                        <p class="intro-text">Please enter your first and last name, your email, education, experience
                                              and skill into the form. List the most recent employment first.  <br></p>
                        <p action="#" th:action="@{name}" th:object="${firstName}" method="post" >

                            <h3>First Name:</h3><input type="text" th:field="*{firstName}" /><br>

                            <h3>Last Name:</h3><input type="text" th:field="*{lastName}" /><br>


                            <h3>Education:</h3>
                                <p class="">Graduation Year:</p><input type="text" th:field="*{education.year}" /><br>
                                <p>Name of School:</p><input type="text" th:field="*{education.school}" /><br>
                                <p>Degree Program:</p><input type="text" th:field="*{education.degree}" /><br>


                            <h3>Experience:</h3><input type="text" th:field="*{experience}" /><br>


                            <h3>Skill:</h3> <input type="text" th:field="*{skill}" /><br>
                        </form>

                        <div th:if="${employeeconfirm}==true" th:text="'Success, your resume has been added '" class=" well alert alert-success col-xs-4 col-xs-offset-4></div>
        <div th:if="${#fields.hasErrors('firstName')}" th:text="#{firstName}"  role="alert"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>


        <a href="#employeeconfirm" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>

</head>
<body>








    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>

</body>
